.App {
  text-align: center;
  background: hsl(239, 61%, 80%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .header {
  background: blue;
} */

header {
  background-color: hsl(239, 64%, 76%);
}

.App-header {
  background-color: #d38e59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 55, 55);
}

.App-link {
  color: rgb(222, 49, 159);
}

.h2 {
  
}

.grid div {
  background-color:hsl(239, 69%, 77%);
  border: 20px;
  margin: 20px;
  padding: 10px;
}

 body {
  background: white;
 }

 body {
  color: rgb(248, 248, 253);
  background-color: rgb(187, 190, 222);
 }

.nav {
  background-color: rgb(101, 43, 43);
 }

 a {
  text-decoration: none;
 }
