.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .header {
  background-color: blue;
} */

header {
  background-color: chocolate;
}

.App-header {
  background-color: #0d1932;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 55, 55);
}

.App-link {
  color: rgb(49, 49, 222);
}

.h2 {
  
}

.grid div {
  background-color: rgb(178, 200, 237);
  border: 20px;
  margin: 20px;
  padding: 10px;
}

 body {
  background-color: rgb(158, 200, 227);
 }

 body {
  color: rgb(49, 49, 222);
 }